---
# Only the main Sass file needs front matter (the dashes are enough)
---

$grey-dark: #312F38;
$grey: #646975;
$grey-light: #BFBFC2;
$grey-lighter: #F7F7F7;
$red: #F57C5D;
$orange: #FB8D5B;
$yellow: #F9B542;

@charset "utf-8";

@import "base";
