---
# Only the main Sass file needs front matter (the dashes are enough)
---

$grey: #646975;
$grey-light: #BFBFC2;
$grey-lighter: #F7F7F7;
$blue-light: #568696;
$blue: #2B5D6D;
$blue-dark: #093847;
$red: #F57C5D;
$orange: #FB8D5B;
$yellow: #F9B542;
$color-high: #EE6060;
$color-medium: #FF8E3E;
$color-low: #F9B542;



@charset "utf-8";

@import "base";
