---
layout: default
---

{% include header-fulfillment.html %}

<div class="container" ng-controller="PromissesController">
  <!-- [[promisses]] -->
  <ul class="list-inline">
    <li ng-repeat="ma in macro_area"><span class="label label-default">[[ma]]</span></li>
  </ul>
  <section id="fulfillments" ng-repeat="macro_area in promisses.items">
    <!-- [[macro_area]] -->
    <article>
      <h2 class="text-center">[[macro_area.name]]</h2>
      <p class="text-center">33% de avance</p>

      <div class="panel panel-default" ng-repeat="ca in macro_area.items">
        <div class="panel-heading fulfillment">
          <div class="row">
            <div class="col-md-7">
              <h3>[[ca.name]]</h3>
              <p>[[ca.items.length]] promesas( [[ca.full]] Completa, [[ca.progress]] Incompletas, [[ca.advance]] Sin progreso )</p>
            </div>
            <div class="col-md-5">
              <div class="percentage">
                <h3 class="text-right">[[ca.accomplished]]%</h3>
              </div>
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="[[ca.accomplished]]" aria-valuemin="0" aria-valuemax="100" style="width: [[ca.accomplished]]%;">
                  <span class="sr-only">[[ca.accomplished]]% Complete</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="panel-body">
          <section class="promess" ng-repeat="p in ca.items">
            <div class="row">
              <div class="col-md-8">
                <h4 ng-if="p.promess && p.description">[[p.promess]]</h4>
                <p ng-if="p.promess && p.description == 0">[[p.promess]]</p>
                <p ng-if="p.description">[[p.description]]</p>
              </div>
              <div class="col-md-2">
                <p class="text-center">[[p.fulfillment]]</p>
                <p class="text-center">cumplimiento<br><a href="#" data-toggle="modal" data-target="#myfulfillment_1">¿Por qué?</a></p>
              </div>
              <div class="col-md-2">
                <p class="text-center">[[p.quality]]</p>
                <p class="text-center">nota de calidad<br><a href="#" data-toggle="modal" data-target="#mynote_1">¿Por qué?</a></p>
              </div>
            </div>
            <!-- modales -->
            <div class="modal fade" id="myfulfillment_1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel_1">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel_1">cumplimiento</h4>
                  </div>
                  <div class="modal-body">
                    [[p.readmore_fulfillment]]
                  </div>
                </div>
              </div>
            </div>

            <div class="modal fade" id="mynote_1" tabindex="-1" role="dialog" aria-labelledby="myNoteLabel_1">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myNoteLabel_1">nota de calidad</h4>
                  </div>
                  <div class="modal-body">
                    [[p.readmore_quality]]
                  </div>
                </div>
              </div>
            </div>
            <!-- modales -->
            </section>
        </div>
      </div>
    </article>
  </section>
</div>