<section id="news" ng-controller="AgendaArchiveController">
  <h1 class="text-center"><span class="ico-intro"><i class="fa fa-calendar-check-o fa-2x"></i></span><br />Histórico de la agenda</h1>
  <ul class="list-inline text-center">
    <li ng-repeat="month in months_with_events track by $index">
      <span class="label label-default" ng-click="filters.months = month">[[month]]</span>
    </li>
    <li><span class="label label-primary" ng-click="filters.months = ''">limpiar filtro</span></li>
  </ul>
  <div ng-repeat="a in agenda | orderBy:'-id' | filter:filters.months" class="news-element" id="agenda-[[a.id]]">
    <h4>
      [[a.title]]
    </h4>
    <span class="small">
      <i class="fa fa-clock-o"></i>
      <span ng-if="a.date != ''">[[a.date]]</span>
      <span ng-if="a.date == ''">[[a.startDate]] - [[a.endDate]]</span>
    </span>
    <p ng-bind-html="a.summary"></p>
  </div>
</section>