<section id="mira-que-esta-pasando" ng-controller="AgendaController">
  <h2 class="text-center">Mira qué está pasando</h2>
  <div class="bajada text-center">Aquí encontrarás las fechas y eventos más importantes, como foros y sesiones de la Cámara de Diputados o del Senado, para seguir el avance de las medidas del Consejo Anticorrupción.</div>

  <div class="row">
    <div class="col-md-8">
      <ul class="list-unstyled agenda-main">
        <li ng-repeat="item in agenda | orderBy:'date_day'">
          <ul ng-if="[[item.current_week]] == 'true' && [[item.month_txt]] == current_month" class="list-inline agenda-day" id="event-[[item.id]]">
            <li>
              <div class="dia">[[ item.date_day ]]</div>
              <div class="mes">[[ item.date_month ]]</div>
            </li>
            <li>
              <strong>[[item.title]]</strong>
              [[item.summary]]
            </li>
          </ul>
        </li>
      </ul>

      <a href="{{ site.baseurl }}agenda.html" class="btn btn-default pull-right">Ver qué pasó</a>
    </div>
    <div class="col-md-4">
      <div id="default" class="cal1"></div>
    </div>
  </div>

  <!-- modal -->
  <div id="modal-content" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">×</button>
          <h3 id="modal-title"></h3>
        </div>
        <div class="modal-body">
          <p id="modal-summary"></p>
        </div>
        <div class="modal-footer">
          <p id="modal-date" class="label label-default"></p>
        </div>
      </div>
    </div>
  </div>
  <!-- modal END -->

  <script type="text/template" id="template-calendar">
    <div class='clndr-controls'>
    </div>
    <table class='clndr-table' border='0' cellspacing='0' cellpadding='0'>
      <thead>
        <tr class='header-days'>
          <% for(var i = 0; i < daysOfTheWeek.length; i++) { %>
            <td class='header-day'><%= daysOfTheWeek[i] %></td>
          <% } %>
        </tr>
      </thead>
      <tbody>
      <% for(var i = 0; i < numberOfRows; i++){ %>
        <tr>
        <% for(var j = 0; j < 7; j++){ %>
          <% var d = j + i * 7; %>
          <td class='<%= days[d].classes %>'>
            <div class='day-contents'><%= days[d].day %></div>
          </td>
        <% } %>
        </tr>
      <% } %>
      </tbody>
    </table>
  </script>

  <script>
  var calendars = {};
  var eventArray = [];

  setTimeout(function (){
    window.agenda.forEach( function( a ) {
      if ( a.date != '' ) {
        eventArray.push( { id: a['id'], date: a['cal_day'], title: a['title'], summary: a['summary'], current_week: a['current_week'] } );
      } else {
        eventArray.push( { id: a['id'], startDate: a['cal_startDate'], endDate: a['cal_endDate'], title: a['title'], summary: a['summary'], current_week: a['current_week'] } );
      }
    });
  }, 2000);

  $(document).ready( function() {
    var thisMonth = moment().format('YYYY-MM');
    setTimeout(function (){
      calendars.clndr1 = $('.cal1').clndr({
        template: $('#template-calendar').html(),
        events: eventArray,
        multiDayEvents: {
          startDate: 'startDate',
          endDate: 'endDate',
          singleDay: 'date'
        },
        showAdjacentMonths: false,
        adjacentDaysChangeMonth: false,
        clickEvents: {
          click: function(target){
            if (target.events[0].current_week == false) {
              $("#modal-title").html(target.events[0].title);
              $("#modal-date").html(moment(target.events[0].date, "YYYY-MM-DD").format('LL'));
              $("#modal-summary").html(target.events[0].summary);
              $("#modal-content").modal('show');
            }
            if (target.events[0] != null) {
            elem = document.getElementById("event-" + target.events[0].id);
            $( elem ).effect( "highlight", {}, 1000, setTimeout(function() {
                $( elem ).removeAttr( "style" ).fadeIn();
              }, 1000 ) );
            // console.log(elem);  // DEBUG
            }

          },
        }
      });
    }, 3000);
  })
  </script>
</section>
