<div class="container" ng-controller="PromissesController">
  <!-- [[promisses]] -->
  <ul class="list-inline text-center">
    <li ng-repeat="ma in macro_area"><span class="label label-default">[[ma]]</span></li>
  </ul>
  <div id="fulfillments" ng-repeat="macro_area in promisses.items">
    <!-- [[macro_area]] -->
    <article>
      <h3 class="text-center">[[macro_area.name]]</h3>
      <div class="bajada text-center light">33% de avance</div>

      <div class="panel panel-default" ng-repeat="ca in macro_area.items">
        <div class="panel-heading fulfillment">
          <div class="row">
            <div class="col-md-7">
              <h5>[[ca.name]]</h5>
              <div class="small">[[ca.items.length]] promesas( 1 Completa, 0 Incompletas, 2 Sin progreso )</div>
            </div>
            <div class="col-md-5">
              <div class="category-percentage pull-right">60%</div>
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                  <span class="sr-only">60% Complete</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="panel-body">
          <div class="promess" ng-repeat="p in ca.items">
            <div class="row">
              <div class="col-md-8">
                <p class="strong">[[p.promess]]</p>
                <p>[[p.description]]</p>
              </div>
              <div class="col-md-2">
                <div class="text-center percentage">80%</div>
                <p class="text-center"><small>Cumplimiento</small><br><a href="#" data-toggle="modal" data-target="#myfulfillment_1"><small>¿Por qué?</small></a></p>
              </div>
              <div class="col-md-2">
                <p class="text-center percentage">5,1</p>
                <p class="text-center"><small>Nota de calidad</small><br><a href="#" data-toggle="modal" data-target="#mynote_1"><small>¿Por qué?</small></a></p>
              </div>
            </div>
            <!-- modales -->
            <div class="modal fade" id="myfulfillment_1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel_1">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h5 class="modal-title" id="myModalLabel_1">Cumplimiento</h5>
                  </div>
                  <div class="modal-body">
                    ...
                  </div>
                </div>
              </div>
            </div>

            <div class="modal fade" id="mynote_1" tabindex="-1" role="dialog" aria-labelledby="myNoteLabel_1">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h5 class="modal-title" id="myNoteLabel_1">Nota de calidad</h5>
                  </div>
                  <div class="modal-body">
                    ...
                  </div>
                </div>
              </div>
            </div>
            <!-- modales -->
            </div>
        </div>
      </div>
    </article>
  </div>
</div>