<div class="container" ng-controller="PromissesController">
  <!--[[promisses]]-->
  <ul class="list-inline text-center macroareas">
    <li ng-repeat="ma in macro_area"><a href="#fulfillment-[[$index]]"><span class="label label-default">[[ma]]</span></a></li>
  </ul>
  <div id="fulfillment-[[$index]]" class="fulfillment-box" ng-repeat="macro_area in promisses.items">
    <!-- [[macro_area]] -->
    <article>
      <h3 class="text-center">[[macro_area.name]]</h3>
      <div class="row macro">
        <div class="col-md-6">
          <p>El nivel de avance y la nota de calidad de esta macro área corresponde a un promedio ponderado de las sub categorías. Es decir, para el resultado final, las medidas que que han sido definidas como prioritarias o más importantes por parte de un panel de expertos, pesan más.<!--El color de cada propuesta muestra el nivel de importancia de la propuesta.--> Para conocer el detalle de las ponderaciones, revisa el documento de metodología que se encuentra al inicio.</p>
        </div>
        <div class="col-md-3">
          <div class="ct-chart-[[$index + 1]]"></div>
          <p class="avancebajada">de avance</p>
        </div>
        <div class="col-md-2 col-sm-12 col-xs-12 vcenter">
          <p class='text-center ct-label'> [[macro_area.quality_macro_area|number:1 ]] </p><p class='text-center notabajada'>Nota de calidad</p>
        </div>
      </div>
    <!--   <div class="panel panel-deafult leyenda">
        <div class="row leyenda">
          <div class="col-md-4 color-high">
            <p>Importancia muy alta</p>
          </div>
          <div class="col-md-4 color-medium">
            <p>Importancia alta</p>
          </div>
          <div class="col-md-4 color-low">
            <p>Importancia normal</p>
          </div> 
        </div>
      </div> -->

      <div class="panel panel-deafult leyenda">
        <div class="row">
          <div class="col-md-6">
          <p>Categorías</p>
          </div>
          <div class="col-md-3">
          <p class="text-center">Porcentajes de avance</p>
          </div>
          <div class="col-md-2">
          <p class="text-center">Notas de calidad</p>
          </div>
          <div class="col-md-1 text-center">
            <a href="#" data-toggle="modal" data-target="#mymethod_1">
              <i class="fa fa-info-circle text-center"></i>
            </a>
          </div>
        </div>         
      </div>

      <div class="panel panel-deafult leyenda-movil">
        <div class="row">
          <div class="col-md-12 text-center">
            <a href="#" data-toggle="modal" data-target="#mymethod_1">
              <i class="fa fa-info-circle text-center"></i>
            </a>
          </div>
        </div>         
      </div>


      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default" ng-repeat="ca in macro_area.items">
              <div class="modal fade" id="mymethod_1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel_1">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h5 class="modal-title" id="myModalLabel_1">Metodología</h5>
                    </div>
                    <div class="modal-body">
                    <p>El nivel de avance y la nota de calidad de cada categoría corresponden a un promedio ponderado de las propuestas que contiene. Es decir, para el resultado final, las propuestas que han sido definidas como prioritarias o más importantes por parte de un panel de expertos, pesan más. <!--El color de cada propuesta muestra el nivel de importancia de la propuesta.-->Para conocer el detalle de las ponderaciones, revisa el documento de metodología que se encuentra al inicio.</p>
                    </div>
                  </div>
                </div>
              </div>

        
          <div class="panel-heading fulfillment">
            <div class="row">
              <div class="col-md-6">
                <!-- Acá se va-->
                <a id="[[ca.id]]" class="anchor"></a>
                
                <h5><a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-[[$parent.$index]]-[[$index]]" aria-expanded="true" aria-controls="collapse-[[$index]]"> [[ca.name]]</a></h5>
                <div class="small">[[ca.items.length]] propuestas( [[ca.full]] Completa, [[ca.progress]] Incompletas, [[ca.advance]] Sin progreso )</div>
              </div>

              <div class="col-xs-7 col-md-3">
                <div class="progress-[[ ca.id ]]">

                </div>
              </div>
              <div class="col-xs-3 col-md-2">
                <div class="category-percentage text-center">
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="[[ca.quality | number:0]]" aria-valuemin="0" aria-valuemax="100" style="width: [[ ((ca.quality - 1)/6) * 100 ]]%;">
                    </div>
                  </div>
                  <span>[[ ca.quality|number:1 ]]</span>
                </div>
              </div>
              <div class="col-xs-1 col-md-1 text-center">
                  <a href="#[[ca.id]]" style="hidden"><i class="fa fa-link"></i></a>
              </div>
            </div>
          </div>


          <div class="panel-body panel-collapse collapse" id="collapse-[[$parent.$index]]-[[$index]]">
            <div class="promess" ng-repeat="p in ca.items">
              <div class="row">
                <div class="col-md-6  [[p.importance]]" >
                  <p class="strong">[[p.promess]]</p>
                  <p>[[p.description]]</p>
                </div>
                <div class="col-md-3">
                  <div class="text-center percentage">[[ p.fulfillment ]]</div>
                  <p class="text-center"><small>Cumplimiento</small><br><a href="#" data-toggle="modal" data-target="#myfulfillment_[[p.id]]"><small>¿Por qué?</small></a></p>
                </div>
                <div class="col-md-2">
                  <p class="text-center percentage">[[p.quality]]</p>
                  <p class="text-center"><small>Nota de calidad</small><br><a href="#" data-toggle="modal" data-target="#mynote_[[p.id]]"><small>¿Por qué?</small></a></p>
                </div>

              </div>
              <!-- modales -->


              <div class="modal fade" id="myfulfillment_[[p.id]]" tabindex="-1" role="dialog" aria-labelledby="myModalLabel_[[p.id]]">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h5 class="modal-title" id="myModalLabel_[[p.id]]">Cumplimiento</h5>
                    </div>
                    <div class="modal-body">
                      [[p.readmore_fulfillment]]
                    </div>
                  </div>
                </div>
              </div>

              <div class="modal fade" id="mynote_[[p.id]]" tabindex="-1" role="dialog" aria-labelledby="myNoteLabel_[[p.id]]">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h5 class="modal-title" id="myNoteLabel_1">Nota de calidad</h5>
                    </div>
                    <div class="modal-body">
                      [[p.readmore_quality]]
                    </div>
                  </div>
                </div>
              </div>
            <!-- modales -->
            </div>
          </div>
        </div>
      </div>


    </article>
  </div>
</div>
