<div class="container" ng-controller="PromissesController">
  <!--[[promisses]]-->
  <ul class="list-inline text-center macroareas">
    <li ng-repeat="ma in macro_area"><a href="#fulfillment-[[$index]]"><span class="label label-default">[[ma]]</span></a></li>
  </ul>
  <div id="fulfillment-[[$index]]" class="fulfillment-box" ng-repeat="macro_area in promisses.items">
    <!-- [[macro_area]] -->
    <article>
      <h3 class="text-center">[[macro_area.name]]</h3>
      <div class="row macro">
        <div class="col-md-4">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur.</p>
        </div>
        <div class="col-md-4">
          <div class="ct-chart-[[$index + 1]]"></div>
          <p class="avancebajada">de avance</p>
        </div>
        <div class="col-md-4">

        </div>
      </div>
      <div class="panel panel-deafult leyenda">
        <div class="row leyenda">
          <div class="col-md-4 color-high">
            <p>Importancia muy alta (mayor a 3%)</p>
          </div>
          <div class="col-md-4 color-medium">
            <p>Importancia alta (mayor a 1% y menor a 3%)</p>
          </div>
          <div class="col-md-4 color-low">
            <p>Importancia normal (menor a 1%)</p>
          </div> 
        </div>
      </div>

      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default" ng-repeat="ca in macro_area.items">
          <div class="panel-heading fulfillment">
            <div class="row">
              <div class="col-md-7">
                <h5><a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-[[$parent.$index]]-[[$index]]" aria-expanded="true" aria-controls="collapse-[[$index]]"><i class="fa fa-plus-circle fa-lg"></i> [[ca.name]]</a></h5>
                <div class="small">[[ca.items.length]] promesas( [[ca.full]] Completa, [[ca.progress]] Incompletas, [[ca.advance]] Sin progreso )</div>
              </div>

              <div class="col-md-5">
                <div class="category-percentage pull-right">[[ca.accomplished | number:0]]% <a href="#" data-toggle="modal" data-target="#myponderator_1"><i class="fa fa-info-circle"></i></a></div>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" aria-valuenow="[[ca.accomplished | number:0]]" aria-valuemin="0" aria-valuemax="100" style="width: [[ca.accomplished | number:0]]%;">
                    <span class="sr-only">[[ca.accomplished | number:0]]% Completado</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="panel-body panel-collapse collapse" id="collapse-[[$parent.$index]]-[[$index]]">
            <div class="promess" ng-repeat="p in ca.items">
              <div class="row">
                <div class="col-md-8 [[p.importance]]" >
                  <p class="strong">[[p.promess]]</p>
                  <p>[[p.description]]</p>
                </div>
                <div class="col-md-2">
                  <div class="text-center percentage">[[ p.fulfillment ]]</div>
                  <p class="text-center"><small>Cumplimiento</small><br><a href="#" data-toggle="modal" data-target="#myfulfillment_1"><small>¿Por qué?</small></a></p>
                </div>
                <div class="col-md-2">
                  <p class="text-center percentage">[[p.quality]]</p>
                  <p class="text-center"><small>Nota de calidad</small><br><a href="#" data-toggle="modal" data-target="#mynote_1"><small>¿Por qué?</small></a></p>
                </div>
              </div>
              <!-- modales -->
              <div class="modal fade" id="myponderator_1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel_1">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h5 class="modal-title" id="myModalLabel_1">Cumplimiento</h5>
                    </div>
                    <div class="modal-body">
                      ...
                    </div>
                  </div>
                </div>
              </div>

              <div class="modal fade" id="myfulfillment_1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel_1">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h5 class="modal-title" id="myModalLabel_1">Cumplimiento</h5>
                    </div>
                    <div class="modal-body">
                      ...
                    </div>
                  </div>
                </div>
              </div>

              <div class="modal fade" id="mynote_1" tabindex="-1" role="dialog" aria-labelledby="myNoteLabel_1">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h5 class="modal-title" id="myNoteLabel_1">Nota de calidad</h5>
                    </div>
                    <div class="modal-body">
                      ...
                    </div>
                  </div>
                </div>
              </div>
            <!-- modales -->
            </div>
          </div>
        </div>
      </div>


    </article>
  </div>
</div>
