<section id="noticias" ng-controller="NewsController">
  <h2 class="text-center">Noticias</h2>
  <div class="bajada text-center">Aquí encontrarás las noticias destacadas sobre la Agenda Probidad y propuestas del Consejo Asesor Presidencial.</div>
<br>
  <div class="row" >
    <div class="col-md-6 highlighted" ng-repeat="n in news | orderBy:['highlighted', '-uid'] | limitTo:1">
      <div class="imagen" ng-style="{'background-image': 'url([[n.img]])'}"></div>
      <div class="destacada">
        <h4><a href="[[n.source]]" target="blank">[[n.title]]</a></h4>
        <p ng-bind-html="n.summary"></p>
        <ul class="list-inline">
          <li ng-repeat="tag in n.tags"><i class="fa fa-tags"></i>[[tag]]</li>
          <li><i class="fa fa-clock-o"></i> [[n.date]]</li>
        </ul>
        <a href="[[n.source]]" target="blank"><i class="fa fa-long-arrow-right"></i></a>
      </div>
    </div>
    <!--<pre>[[news]]</pre>-->
    <div class="col-md-6 ultimas">
      <div class="row">
        <div class="col-md-6 ultimas" ng-hide="$first" ng-repeat="n in news | orderBy:'-unixtime' | filter:n.highlighted | limitTo:5">
          <h4><a href="[[n.source]]" target="blank">[[n.title | limitTo: 73]][[n.title.length > 73 ? '...' : '']]</a></h4>
          <ul class="list-inline">
            <li ng-repeat="tag in n.tags"><i class="fa fa-tags"></i>[[tag]]</li>
            <li><i class="fa fa-clock-o"></i> [[n.date]]</li>
          </ul>
          <a href="[[n.source]]" target="blank"><i class="fa fa-long-arrow-right"></i></a>
        </div>
      </div>
    </div>
    <a href="{{ site.baseurl }}noticias.html" class="btn btn-default pull-right">Ver Anteriores</a>
  </div>
</section>
