<section id="news">

  <h2>Noticias</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi sed, eius iure nihil illo nobis consectetur, dolor maxime consequatur optio inventore omnis vero possimus suscipit accusantium. Veniam quia, laudantium est?</p>

  <div class="row">
    <div class="col-md-4">
      <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam quod provident sunt expedita illum impedit laudantium reiciendis, quisquam velit commodi inventore et quis! Dolor ullam velit ducimus reprehenderit ea accusantium!</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia assumenda sit, laudantium quibusdam iusto quisquam dignissimos natus, inventore sint excepturi, deleniti eveniet odit, saepe tenetur alias dolorum unde. Aut, harum?
      </p>
      <ul class="list-inline">
        <li><i class="fa fa-tag"></i> tag</li>
        <li><i class="fa fa-clock-o"></i> 1 week ago</li>
      </ul>
    </div>
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-6">
          <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam quod provident sunt expedita illum impedit laudantium reiciendis, quisquam velit commodi inventore et quis! Dolor ullam velit ducimus reprehenderit ea accusantium!</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia assumenda sit, laudantium quibusdam iusto quisquam dignissimos natus, inventore sint excepturi, deleniti eveniet odit, saepe tenetur alias dolorum unde. Aut, harum?
          </p>
          <ul class="list-inline">
            <li><i class="fa fa-tag"></i> tag</li>
            <li><i class="fa fa-clock-o"></i> 1 week ago</li>
          </ul>
        </div>
        <div class="col-md-6">
          <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam quod provident sunt expedita illum impedit laudantium reiciendis, quisquam velit commodi inventore et quis! Dolor ullam velit ducimus reprehenderit ea accusantium!</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia assumenda sit, laudantium quibusdam iusto quisquam dignissimos natus, inventore sint excepturi, deleniti eveniet odit, saepe tenetur alias dolorum unde. Aut, harum?
          </p>
          <ul class="list-inline">
            <li><i class="fa fa-tag"></i> tag</li>
            <li><i class="fa fa-clock-o"></i> 1 week ago</li>
          </ul>
        </div>
        <div class="row">
        <div class="col-md-6">
          <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam quod provident sunt expedita illum impedit laudantium reiciendis, quisquam velit commodi inventore et quis! Dolor ullam velit ducimus reprehenderit ea accusantium!</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia assumenda sit, laudantium quibusdam iusto quisquam dignissimos natus, inventore sint excepturi, deleniti eveniet odit, saepe tenetur alias dolorum unde. Aut, harum?
          </p>
          <ul class="list-inline">
            <li><i class="fa fa-tag"></i> tag</li>
            <li><i class="fa fa-clock-o"></i> 1 week ago</li>
          </ul>
        </div>
        <div class="col-md-6">
          <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam quod provident sunt expedita illum impedit laudantium reiciendis, quisquam velit commodi inventore et quis! Dolor ullam velit ducimus reprehenderit ea accusantium!</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia assumenda sit, laudantium quibusdam iusto quisquam dignissimos natus, inventore sint excepturi, deleniti eveniet odit, saepe tenetur alias dolorum unde. Aut, harum?
          </p>
          <ul class="list-inline">
            <li><i class="fa fa-tag"></i> tag</li>
            <li><i class="fa fa-clock-o"></i> 1 week ago</li>
          </ul>
        </div>
      </div>

    </div>
  </div>


</section>