<section id="news" ng-controller="NewsArchiveController">
  <h1>Repositorio de noticias</h1>

  <div>
    <h3>Tags</h3>
    <div ng-repeat="tc in tags_cat track by $index">
      <button type="button" ng-click="filters.tags = tc">[[tc]]</button>
    </div>
    <button type="button" ng-click="filters.tags = ''">limpiar filtro!</button>
  </div>

  <div ng-repeat="n in news | filter:filters.tags" class="news-element">
    <h4>
      [[n.title]]
    </h4>
    <span ng-repeat="tag in n.tags" class="small">
      <i class="fa fa-tags"></i> [[tag]]
    </span>
    <span class="small">
      <i class="fa fa-clock-o"></i> [[n.date]]
    </span>
    <p ng-bind-html="n.summary"></p>
    Ver noticia completa: <span ng-bind-html="n.source"></span>
  </div>
</section>
