<div class="container">
  <div class="row">
	<div class="col-md-1">
	</div>
	<div class="col-md-10">
	  	<div class="visual-main">
			<div class="dataviz-desktop">
				<iframe frameborder="0" height="800" scrolling="no" src="https://public.tableau.com/views/ObservatorioAnticorrupcin-AnlisisAvancesDesktop/Panel1?:embed=y&:display_count=yes&:showTabs=y&amp;:showVizHome=no" width="100%"></iframe>				
			</div>
			<div class="dataviz-tablet">
				<iframe frameborder="0" height="800" scrolling="no" src="https://public.tableau.com/views/ObservatorioAnticorrupcin-AnlisisAvancesTablet/Panel1?:embed=y&:display_count=yes&:showTabs=y&amp;:showVizHome=no" width="100%"></iframe>
			</div>
			<div class="dataviz-mobile">
				<iframe frameborder="0" height="900" scrolling="no" src="https://public.tableau.com/views/ObservatorioAnticorrupcin-AnlisisAvancesMobile/Panel1?:embed=y&:display_count=yes&:showTabs=y&amp;:showVizHome=no" width="100%"></iframe>
		  	</div>
	  	</div>
	</div>
	<div class="col-md-1">
	</div>
</div>