<div id="welcome">
  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <h1>Sigue aquí el avance del Consejo Anticorrupción</h1>
          <p>El Observatorio Anticorrupción, conformado por Espacio Público y Ciudadano Inteligente, sigue el debate y el avance de las medidas propuestas por el Consejo Asesor Presidencial para lograr una mayor probidad y transparencia en Chile.</p>
        </div>
        <div class="col-md-3 chart-total">
          <p class="totalbajada">de avance</p>  
          <p class="textototal">Del total de las propuestas</p>
        </div>
        <div class="col-md-2">
          <div class="text-center ct-label">4.2</div>
          <p class="notatotal">Nota de calidad</p>
            <div class="progress total-home">
              <div class="progress-bar total" role="progressbar" aria-valuenow="[[ca.quality | number:0]]" aria-valuemin="0" aria-valuemax="100" style="width: [[ ((4.2 - 1)/6) * 100 ]]%;">
              </div>
            </div>
        </div>
        
        <script>
        var cumplimiento = 47;
        $(function() {
        new Chartist.Pie('.chart-total', {
          labels: [cumplimiento + "%"],
          series: [parseInt(cumplimiento), (100 - parseInt(cumplimiento))]
        }, {
          donut: true,
          donutWidth: 15,
          startAngle: 0,
          showLabel: true,
          labelOffset: -60,
        }, [
          ['screen and (max-width: 1199px)', {
            labelOffset: -68
          }],
          ['screen and (max-width: 991px)', {
            labelOffset: -70
          }],
          ['screen and (max-width: 320px)', {
            labelOffset: -60
          }]
        ]);
        });
        
        </script>
      </div>
      <div class="col-md-12">
        <div class="row">
          <div class="text-right">
            <ul class="list-inline">
              <li>
                <a href="{{ site.baseurl }}#mira-que-esta-pasando" class="btn btn-info btn-lg">Mira qué está pasando</a>
              </li>
              <li>
                <a href="{{ site.baseurl }}cumplimiento.html" class="btn btn-primary btn-lg">Revisa el cumplimiento</a>
              </li>
            </ul>
          </div>

          <div class="col-md-2 redes">
            <ul class="list-unstyled list-inline">
              <li class="redes">
                <a href="#" onclick="window.open(&quot;//twitter.com/share?url=http://observatorioanticorrupcion.cl/&amp;via=ciudadanoi y @EsPublicoCL&amp;text=Sigue el avance de las propuestas del Consejo Anticorrupción en&quot;,&quot;twitter&quot;,&quot;width=450, height=250&quot;)">
                    <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                    <i class="fa fa-twitter fa-stack-1x"></i>
                  </span>
                </a>
              </li>

              <li class="redes">
                <a href="#" onclick="window.open(&quot;//www.facebook.com/sharer/sharer.php?u=http://observatorioanticorrupcion.cl/&quot;,&quot;facebook&quot;,&quot;width=450, height=250&quot;)">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                    <i class="fa fa-facebook fa-stack-1x"></i>
                  </span>
                </a>
              </li>
            </ul>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<div class="graphs container" ng-controller="MainController">
  <div class="row">
    <div class="col-xs-6 col-sm-4 col-md-2 col-md-offset-1">
      <p class="donut"><a href="{{ site.baseurl }}cumplimiento.html#fulfillment-0">Prevención de la corrupción</a></p>
      <div class="ct-chart-1"></div>
      <p class="avancebajada">de avance</p>
      <p class="notabajada">Nota de calidad</p>
      <p class="text-center note note-1"></p>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-2">
      <p class="donut"><a href="{{ site.baseurl }}cumplimiento.html#fulfillment-1">Regulación de conflictos de interés</a></p>
      <div class="ct-chart-2"></div>
      <p class="avancebajada">de avance</p>
      <p class="notabajada">Nota de calidad</p>
      <p class="text-center note note-2"></p>
    </div>
    <div class="clearfix visible-xs-block"></div>
    <div class="col-xs-6 col-sm-4 col-md-2">
      <p class="donut"><a href="{{ site.baseurl }}cumplimiento.html#fulfillment-2">Integridad, etica y derechos ciudadanos</a></p>
      <div class="ct-chart-3"></div>
      <p class="avancebajada">de avance</p>
      <p class="notabajada">Nota de calidad</p>
      <p class="text-center note note-3"></p>
    </div>
    <div class="clearfix visible-sm-block"></div>
    <div class="col-xs-6 col-sm-6 col-md-2">
      <p class="donut"><a href="{{ site.baseurl }}cumplimiento.html#fulfillment-3">Financiamiento de la política para fortalecer la democracia</a></p>
      <div class="ct-chart-4"></div>
      <p class="avancebajada">de avance</p>
      <p class="notabajada">Nota de calidad</p>
      <p class="text-center note note-4"></p>
    </div>
    <div class="clearfix visible-xs-block"></div>
    <div class="col-xs-12 col-sm-6 col-md-2">
      <p class="donut"><a href="{{ site.baseurl }}cumplimiento.html#fulfillment-4">Confianza en los mercados</a></p>
      <div class="ct-chart-5"></div>
      <p class="avancebajada">de avance</p>
      <p class="notabajada">Nota de calidad</p>
      <p class="text-center note note-5"></p>
    </div>

  </div>
</div>
