<div id="welcome">
  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h1>Lore m ipsum dolor sit amet, consectetur adipisicing elit.</h1>
          <p>Rerum est quasi, iure fugit animi tempora delectus voluptate, provident recusandae voluptas fuga molestias perspiciatis facilis voluptatibus nam soluta repellat laudantium. Facilis.</p>
        </div>
        <div class="col-md-4">
          <div class="ct-chart pull-right">
          </div>
          <script>
          $(document).ready(function(){
            new Chartist.Pie('.ct-chart', {
              labels: ['25%'],
              series: [25, 75]
            }, {
              donut: true,
              donutWidth: 15,
              startAngle: 0,
              total: 100,
              showLabel: true,
              labelOffset: -85,
              width: 200,
              height: 200
            });
          });
          </script>
      </div>
      </div>
        <div class="text-right">
          <ul class="list-inline">
            <li>
              <a href="{{ site.baseurl }}/#noticias" class="btn btn-primary btn-lg">Mira que está pasando</a>
            </li>
            <li>
              <a href="/cumplimiento.html" class="btn btn-info btn-lg">Revisa el cumplimiento</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
