<div id="welcome">
  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>Sigue aquí el avance de la Comisión Engel</h1>
          <p>El Observatorio Anticorrupción, conformado por Espacio Público y Ciudadano Inteligente, sigue el debate y el avance de las medidas propuestas por la Comisión Engel para mayor probidad y transparencia.</p>
        </div>
        <!-- <div class="col-md-4">


        </div> -->
      </div>
      <div class="col-md-12">
        <div class="row">
          <div class="text-right">
            <ul class="list-inline">
              <li>
                <a href="{{ site.baseurl }}noticias.html" class="btn btn-primary btn-lg">Mira que está pasando</a>
              </li>
              <li>
                <a href="{{ site.baseurl }}cumplimiento.html" class="btn btn-info btn-lg">Revisa el cumplimiento</a>
              </li>
            </ul>
          </div>

          <div class="col-md-2">
            <ul class="list-unstyled list-inline">
              <li class="redes">
                <a href="#" onclick="window.open(&quot;//twitter.com/share?url=http://observatorioanticorrupcion.cl/&amp;via=ciudadanoi&amp;text=Sigue aquí el avance de la Comisión Engel&quot;,&quot;twitter&quot;,&quot;width=450, height=250&quot;)">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                    <i class="fa fa-twitter fa-stack-1x"></i>
                  </span>
                </a>
              </li>

              <li class="redes">
                <a href="#" onclick="window.open(&quot;//www.facebook.com/sharer/sharer.php?u=http://observatorioanticorrupcion.cl/&quot;,&quot;facebook&quot;,&quot;width=450, height=250&quot;)">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                    <i class="fa fa-facebook fa-stack-1x"></i>
                  </span>
                </a>
              </li>
            </ul>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<div class="graphs container" ng-controller="MainController">
  <div class="row">
    <div class="col-md-2 col-md-offset-1">
      <div class="ct-chart-1"></div>
      <p>Confianza en los mercados</p>
    </div>
    <div class="col-md-2">
      <div class="ct-chart-2"></div>
      <p>Financiamiento de la política para fortalecer la democracia</p>
    </div>
    <div class="col-md-2">
      <div class="ct-chart-3"></div>
      <p>Integridad, ética y derechos humanos</p>
    </div>
    <div class="col-md-2">
      <div class="ct-chart-4"></div>
      <p>Prevención de la corrupción</p>
    </div>
    <div class="col-md-2">
      <div class="ct-chart-5"></div>
      <p>Regulación de conflictos de interés</p>
    </div>
  </div>
</div>