body {
  font-family: 'Merriweather Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  text-align: initial;
  margin: initial;
  padding-top: initial;
  padding-bottom: initial;
  border-bottom: initial;
  background: initial;
  color: #424753;
}

/**
 * Navbar
 */


.header-menu {
  position: absolute;
    width: 100%;
    margin-top: 10px;
    padding: 0 15px;
    z-index: 55;
}

.header-menu.sticky {
  position: fixed;
  margin: 0;
  -moz-animation: bounceInDown 0.5s;
  -webkit-animation: bounceInDown 0.5s;
  animation: bounceInDown 0.5s;
  background: $grey-lighter;
}

.header-menu.fixed {
  -moz-animation: bounceIn 0.5s;
  -webkit-animation: bounceIn 0.5s;
  animation: bounceIn 0.5s;
}

.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header{
  margin-top: 12px;
  margin-bottom: 5px;
}
h4 {
  width: initial;
  text-align: initial;
  font-family: inherit;
  color: initial;
  font-size: 18px;
  padding: initial;
  background: initial;
}
/*overwrite clndr css*/

.navbar {
  background: transparent;
  font-weight: 400;
  border-radius: 0px;
}

.navbar-default {
  border-color: transparent;
  .navbar-brand {
    color: #FFF;
    padding: 0px;
  }
  .navbar-nav > li > a {
    color: #FFF;
    padding: 6px 0px;
    margin: 0 15px;
  }
}

.navbar-right {
  margin-top: 10px;
}

.sticky .navbar-nav > li > a {
  color: $grey-light;
}

.navbar-default .navbar-nav > li > a:hover{
  color: $grey;
  border-bottom: 2px solid $yellow; 
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
  border-bottom: 10px solid black;
}


.agenda-main {
  .agenda-day {
    background-color: #EEE;
    margin-bottom: 10px;
    li:first-child {
      font-weight: bold;
    }
    li:nth-child(2) {
      width: 89%;
    }
  }
}

.ct-series-a {
  .ct-slice-donut {
    stroke: #FFF
  }
}

.ct-label {
  fill: rgba(255, 255, 255, 1);
  color: rgba(0, 0, 0, 0.4);
  font-size: 4rem;
  line-height: 1;
}

.sticky .brand {
  background: url(../img/logo-color.png) no-repeat;
  width: 185px;
  height: 53px;
}

.fixed .brand {
  background: url(../img/logo.png) no-repeat;
  height: 53px;
  width: 185px;
}

.ct-chart-fulfillment{
  .ct-series-a {
    .ct-slice-donut {
      stroke: #FF765D;
    }
  }
  .ct-label {
    fill: #FF765D;
    color: rgba(0, 0, 0, 0.4);
    font-size: 4rem;
    line-height: 1;
  }
}

/*cumplimientos*/
.fulfillment {
  h3, h4 {
    margin-top: initial;
  }
  .percentage {
    float: right;
    width: 95px;
  }
}

/**
 * Headings
 */
h1 {
  font-family: 'Merriweather Sans', sans-serif;
  color: white;
}

h2 {
  font-family: 'Merriweather Sans', sans-serif;
  color: #424753;
  font-size: 20px;
}

h4 {
  font-family: 'Merriweather Sans', sans-serif;
  color: #424753;
  font-size: 16px;
  font-weight: 700;
}

/**
 * Welcome
 */

#welcome {
    background-position: center;
    background-repeat: no-repeat;
    max-height: 780px;
    background-image: url('/img/header.png');
}

.jumbotron{
    background: linear-gradient(45deg, rgba(245, 124, 93, 0.8), rgba(249, 181, 66, 0.8));
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    min-height: 410px;
    padding-top: 100px;
}

.jumbotron h1 {
  font-family: 'Merriweather Sans', sans-serif;
  color: white;
  font-size: 50px;
}

.jumbotron p {
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 300;
  color: white;
  font-size: 18px;
  line-height: 1.3;
}

/**
 * Buttons
 */
.btn{
  height: 50px;
  background-color: #F9B542;
  border-radius: 25px;
  border: none;
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 11px;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
  padding: 0 20px 0 20px;
  line-height: 4.8;
  &.primary{
    background-color: #FB8D5B;
  }
 }

 .btn:hover{
  background-color: white;
  color: #F9B542;
  box-shadow: 0px 6px 30px rgba(249, 181, 66, 1);

  transition:all ease 0.6s;
 }

 .primary:hover{
  background-color: white;
  color: #FB8D5B;
  box-shadow: 0px 6px 30px rgba(245, 124, 93, 1);

  transition:all ease 0.6s;
}

/**
 * News
 */

#news{
  text-align: center;
  .highlighted {
    background-image: 0.1;
    color: #FFF;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;

    div.highlighted:after{
    content:"none";
    background-color: white;
    opacity: 0.5;
    z-index: -1;
    }
  }

}

.noticias{
  div:nth-child(1) {
    div:nth-child(1) {
      background-color: #555163;
      height: 200px;
    }
    div:nth-child(2) {
      background-color: #676379;
      height: 200px;
    }
  }

  div:nth-child(2) {
    div:nth-child(1) {
      background-color: $orange;
      height: 200px;
    }
    div:nth-child(2) {
      background-color: $grey-dark;
      height: 200px;
    }
  }
 } 



