body {
  font-family: 'Merriweather Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $grey;
}

p {
  text-align: initial;
  margin: initial;
  padding-top: initial;
  padding-bottom: initial;
  border-bottom: initial;
  background: initial;
}

a {
  color: $red;
}

a:hover {
  color: $orange;
}

section {
    margin: 90px 0;
}

/**
 * Navbar
 */


.header-menu {
  position: absolute;
    width: 100%;
    margin-top: 10px;
    padding: 0 15px;
    z-index: 55;
}

.header-menu.sticky {
  position: fixed;
  margin: 0;
  -moz-animation: bounceInDown 0.5s;
  -webkit-animation: bounceInDown 0.5s;
  animation: bounceInDown 0.5s;
  background: $grey-lighter;
}

.header-menu.fixed {
  -moz-animation: bounceIn 0.5s;
  -webkit-animation: bounceIn 0.5s;
  animation: bounceIn 0.5s;
}

.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header{
  margin-top: 12px;
  margin-bottom: 5px;
}

/*overwrite clndr css*/

.navbar {
  background: transparent;
  font-weight: 400;
  border-radius: 0px;
}

.navbar-default {
  border-color: transparent;
  .navbar-brand {
    color: #FFF;
    padding: 0px;
  }
  .navbar-nav > li > a {
    color: #FFF;
    padding: 6px 0px;
    margin: 0 15px;
  }
}

.navbar-right {
  margin-top: 10px;
}

.sticky .navbar-nav > li > a {
  color: $grey-light;
}

.navbar-default .navbar-nav > li > a:hover{
  color: $grey;
  border-bottom: 2px solid $yellow; 
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
  border-bottom: 10px solid black;
}

.ct-series-a {
  .ct-slice-donut {
    stroke: #FFF
  }
}

.ct-label {
  fill: rgba(255, 255, 255, 1);
  color: rgba(0, 0, 0, 0.4);
  font-size: 4rem;
  line-height: 1;
}

.sticky .brand {
  background: url(../img/logo-color.png) no-repeat;
  width: 185px;
  height: 53px;
}

.fixed .brand {
  background: url(../img/logo.png) no-repeat;
  height: 53px;
  width: 185px;
}

.ct-chart-fulfillment{
  .ct-series-a {
    .ct-slice-donut {
      stroke: #FF765D;
    }
  }
  .ct-label {
    fill: #FF765D;
    color: rgba(0, 0, 0, 0.4);
    font-size: 4rem;
    line-height: 1;
  }
}

/*cumplimientos*/
.fulfillment {
  h3, h4 {
    margin-top: initial;
  }
  .percentage {
    float: right;
    width: 95px;
  }
}

/**
 * Headings
 */

h1 {
  font-family: 'Merriweather Sans', sans-serif;
  color: white;
}

h2 {
  font-family: 'Merriweather Sans', sans-serif;
  color: #424753;
  font-size: 28px;
}

h4 {
  color: #424753;
  width: initial;
  text-align: initial;
  font-family: inherit;
  color: initial;
  font-size: 18px;
  font-weight: 700;
  padding: initial;
  background: initial;
  font-family: 'Merriweather Sans', sans-serif;
}

.bajada {
  font-size: 16px;
  color: $grey;
  max-width: 800px;
  margin: 0 auto 60px;
}

/**
 * Welcome
 */

#welcome {
    background-position: center;
    background-repeat: no-repeat;
    max-height: 780px;
    background-image: url('/img/header.png');
}

.jumbotron {
    background: linear-gradient(45deg, rgba(245, 124, 93, 0.8), rgba(249, 181, 66, 0.8));
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    min-height: 410px;
    padding-top: 170px;
}

.jumbotron h1 {
  color: white;
  font-size: 50px;
}

.jumbotron p {
  color: white;
  font-size: 18px;
  line-height: 1.3;
  margin-bottom: 80px;
}

/**
 * Buttons
 */
.btn{
  border-radius: 25px;
  border: none;
  letter-spacing: 1px;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
  padding: 10px 20px 10px 20px;
  transition: all 0.5s;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
 }

.btn:hover {
  color: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  transition: all ease 0.6s;
}


.btn-default {
  background: #f57c5d;
  background: -moz-linear-gradient(-45deg,  #f57c5d 0%, #fb9a5b 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#f57c5d), color-stop(100%,#fb9a5b));
  background: -webkit-linear-gradient(-45deg,  #f57c5d 0%,#fb9a5b 100%);
  background: -o-linear-gradient(-45deg,  #f57c5d 0%,#fb9a5b 100%);
  background: -ms-linear-gradient(-45deg,  #f57c5d 0%,#fb9a5b 100%);
  background: linear-gradient(135deg,  #f57c5d 0%,#fb9a5b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f57c5d', endColorstr='#fb9a5b',GradientType=1 );
}

.btn-default:hover {
  background: #fb9a5b;
  background: -moz-linear-gradient(-45deg,  #fb9a5b 0%, #f9b542 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#fb9a5b), color-stop(100%,#f9b542));
  background: -webkit-linear-gradient(-45deg,  #fb9a5b 0%,#f9b542 100%);
  background: -o-linear-gradient(-45deg,  #fb9a5b 0%,#f9b542 100%);
  background: -ms-linear-gradient(-45deg,  #fb9a5b 0%,#f9b542 100%);
  background: linear-gradient(135deg,  #fb9a5b 0%,#f9b542 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fb9a5b', endColorstr='#f9b542',GradientType=1 );
}

.btn-primary {
  background-color: white;
  color: $orange;
}

.btn-primary:hover{
  background: $yellow;
}

.btn-info {
  background: $orange;
}

.btn-info:hover{
  background: $yellow;
}

.btn-group-lg>.btn, .btn-lg {
  padding: 20px 30px;
  font-size: 14px;
  border-radius: 40px;
}

/**
 * News
 */

#news{
  .highlighted {
    background-image: 0.1;
    color: #424753;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 90px;
      a {
      color: #424753;
      }
    div.highlighted:after{
    content:"none";
    background-color: white;
    opacity: 0.5;
    z-index: -1;
    }
  }

}

.noticias{
  h4{
  color: white;
  margin-top: 30px;
  }
  li{
  color: white;
  text-align: left;
  }
  div:nth-child(1) {
    div:nth-child(1) {
      background-color: #555163;
      height: 200px;
    }
    div:nth-child(2) {
      background-color: #676379;
      height: 200px;
    }
  }

  div:nth-child(2) {
    div:nth-child(1) {
      background-color: $orange;
      height: 200px;
    }
    div:nth-child(2) {
      background-color: $grey-dark;
      height: 200px;
    }
  }
 } 

/*AGENDA*/

.agenda-main {
  .agenda-day {
    background-color: $grey-lighter;
    margin-bottom: 10px;
    padding: 20px;
    li:first-child {
      font-weight: bold;
    }
    li:nth-child(2) {
      width: 89%;
    }
  }
}

.dia {
  font-size: 26px;
  text-align: center;
  color: $grey-dark;
}

.mes {
  color: $grey-dark;
  text-align: center;
  text-transform: uppercase;
  font-size: 11px;
}

/*FOOTER*/

footer {
  background: $grey-dark;
  color: $grey-light;
  margin-top: 60px;
  padding: 75px 0 50px;
  position: relative;
}

footer a {
  /*color: $red;*/
}

footer img {
  max-width: 220px;
}

footer:after {
  content: url(../img/lampara-footer.png);
  position: absolute;
  left: 7px;
  top: -208px;
}

footer:before {
  content: url(../img/tazasydiario-footer.png);
  position: absolute;
  right: 0;
  bottom: 0;
}
